.p-4 {
    padding: 1.5rem!important;
}
.sugerencias{
    margin-left: 280px;
margin-right: 280px;
}
.alLado{
 display: inline;
 margin-left: 9px;
}
.contenedor2{
    margin-left: 100px;
    margin-right: 100px;
}
.ki{
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
