.fondo{
    margin:0;
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.imagen{
    margin-left: 50px;

}

    

    