.ola{
    margin-left: auto;
}
.ola1{
    margin-right: auto;
}
.ola2{
    margin-left: auto;
    margin-right: auto;
}
.Boton2{
    text-align: center;
    color: #057fff;

    }


    .tituloregistro{
        color: white;
        text-align: center;
        background: #057FFF  ;
    }
    
    