

.Boton2{
    text-align: center;
    color: #057fff;

    }


    .tituloregistro{
        color: white;
        text-align: center;
        background: #057FFF  ;
        align-items: center;
    }
    