
.tituloseccionperros{
    color: white;
    text-align: center;
    background: #057FFF  ;
    align-items: center;
}
.cuerpo{
    background-color: #B7BFCA;
    height: 12rem;
}
.cuerpo-top{
    background-color: #E1E4E8;
    height: 18rem;
}